.root{
    -fx-background-image: url("/Images/mazeBackground.jpg");
    -fx-background-repeat: repeat;
    -fx-background-size: 960 680;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
Menu{

}
ToggleButton{
    -fx-text-fill: white;
    -fx-font-family: "Press Start 2P";

}

#btn_mute{
        -fx-background-image: url("/Images/speaker.png");
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
        -fx-background-size: 50 50;


}
Button {
    -fx-text-fill: white;
    -fx-font-family: "Press Start 2P";
    -fx-font-weight: bold;
    -fx-border-color:transparent;
    -fx-background-color:transparent;

}
@font-face {
    font-family: 'Press Start 2P';
    src: url('Font/PressStart2P-Regular.ttf');
}

Label {

    -fx-font-family: 'Press Start 2P',Serif;
    -fx-font-size: 15;

}
Button:hover{

    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

